@import './element-ui.scss';
@import './mixin.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  min-width: 1280px;
  background: #f6f6f6;
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img{
  display: block;
}
i, em{
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.clearfix {
  zoom: 1;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
//main-container全局样式
.app-main{
  width:100%;
  .app-body{
    margin:0 auto;
    max-width: 1280px;
  }
}

//.app-container {
//  padding: 0 24px 24px 24px;
//}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.fll {
  float: left;
}

.flr {
  float: right;
}

.clear {
  clear: both;
}
//加载进度条
#nprogress .peg {
  box-shadow: 0 0 10px #f2cd00, 0 0 5px #f2cd00 !important;

}

#nprogress .bar {
  background: #f2cd00 !important;
  box-shadow: 0 0 10px #f2cd00, 0 0 5px #f2cd00 !important;

}

#nprogress .spinner-icon {
  border: solid 2px transparent !important;
  border-top-color: #f2cd00 !important;
  border-left-color: #f2cd00 !important;
}

.text-left {
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}
.text-center{
  text-align: center !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
